@model IEnumerable<NexGenMVC.Models.Fn_GetDistrictReport_Result>

@{
    ViewBag.Title = "TotCostEngineer";
    Layout = "~/Views/Shared/_AccountantLayoutPage.cshtml";
}

<h2>Cost By District</h2>
<table border="1">
    <tr>
        <th>District</th>
        <th> Cost</th>
        <th>Hour</th>
    </tr>
    @foreach (var item in ViewData.Model)
    {
        <tr>
            <td>@item.DISTRICT</td>
            <td>@item.COST</td>
            <td>@item.Hours</td>
          
        </tr>
    }
</table>