@using ReportViewerForMvc;
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_SiteEngineerLayoutPage.cshtml";
}
@using System.Web.UI.WebControls;


<h2>Report</h2>
<a href="@Url.Action("TotCostEngineer", "Accountant", "TotCostEngineer")" class="elements"><span>Total Cost By Engineer</span></a>
<a href="@Url.Action("AvgCostEngineer", "Accountant", "AvgCostEngineer")" class="elements"><span>Average Cost by Engineer</span></a>
<a href="@Url.Action("CostByDistrict", "Accountant", "CostByDistrict")" class="elements"><span>Costs By District</span></a>
<a href="@Url.Action("CostByMonthDistrict", "Accountant", "CostByMonthDistrict")" class="elements"><span>Monthly Cost By District</span></a>
