@model IEnumerable<NexGenMVC.Models.Fn_Report_Result>

@{
    ViewBag.Title = "TotCostEngineer";
    Layout = "~/Views/Shared/_AccountantLayoutPage.cshtml";
}

<h2>TotCostEngineer</h2>
<table>
@foreach(var item in ViewData.Model)
{

}
 </table>